ul {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    height: 100vh;
    gap: 50px;
    padding-top: 5%;
}

.task {
    border: 4px solid var(--color-primary-dark);
    width: 50vw;
    padding: 20px 40px;
    display: flex;
    align-items: top;
    justify-content: left;
    gap: 50px;
    border-radius: 24px;
    position: relative;
    transition: all .3s ease-in-out;
}

input[type=checkbox] {
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    appearance: none;
}

input[type=checkbox]:before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background-color: transparent;
    border: 1px solid var(--color-secondary);
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

input[type=checkbox]:checked::before {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid var(--color-gray-800);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 5px;
    left: 9px;
}

.task:has(input[type=checkbox]:checked) {
    opacity: .3;
}

.task:has(input[type=checkbox]:checked) .info h2 {
    text-decoration: line-through;
    text-decoration-color: var(--color-secondary);
}

.task:has(input[type=checkbox]:checked) .info p {
    text-decoration: line-through;
    text-decoration-color: var(--color-gray-300);
}


.bi-trash {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 1.3rem;
    color: var(--color-secondary);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.bi-trash:hover {
    color: var(--color-error);
}

.info {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.info h2 {
    font-size: 1.rem;
    color: var(--color-secondary);
    letter-spacing: 2px;
}

.info p {
    font-size: 1rem;
    color: var(--color-gray-300);
    font-weight: 200;
    letter-spacing: 2px;
}

.btn {
    margin: 70px;
    position: fixed;
    bottom: 10%;
}

.button {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 15px 40px;
    color: var(--color-secondary);
    background-color: var(--color-primary-dark);
    border: 3px solid var(--color-primary-dark);
    border-radius: 24px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.button:hover {
    background-color: transparent;
}